<div class="col-lg-12">
    <div class="panel panel-default no-bottom-margin">
        <div class="panel-body bg-light-black">
            <div class="col-sm-4">
                <h2 class="title color-white">About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis delectus sequi quae eaque dolore provident adipisci quam!Ea, neque, a repudiandae magnam quia ab reiciendis iusto veritatis veniam eius molestias vitae facilis id.</p>
            </div>
            <div class="col-sm-4">
                <h2 class="title color-white">Contracts</h2>
                <ul>
                    <li>
                        Hello world
                    </li>
                    <li>
                        Hello world
                    </li>
                    <li>
                        Hello world
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2 class="title color-white">
                    Links
                </h2>
                <ul>
                    <li>Link 01</li>
                    <li>Link 02</li>
                    <li>Link 03</li>
                    <li>Link 04</li>
                </ul>
            </div>
        </div>
    </div>
</div>