@*<div id="headerbar">
    <div id="headerbar-inner" class="inner-block">
        <div id="site-logo">
            <a href="https://phpbb3.pixelgoose.com/index.php?style=14" title="Board index" id="logo">
                <img src="https://phpbb3.pixelgoose.com/styles/marina_teal/imageset/site_logo.svg" width="164" height="42" alt=""
                     title="">
            </a>
            <p class="skiplink">
                <a href="https://phpbb3.pixelgoose.com/index.php?style=14#start_here">
                    Skip to
                    content
                </a>
            </p>
        </div>
        <div id="main-nav">
            <ul>
                <li><a href="https://phpbb3.pixelgoose.com/index.php?style=14" class="active">Home</a></li>
                <li>
                    <a href="https://phpbb3.pixelgoose.com/faq.php?style=14" title="Frequently Asked Questions">FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</div>*@