<div class="form-group">
    <div class="forum-header"
         data-type="background"
         data-speed="3">
        <div class="container full-height">
            <div class="title-panel">
                <h2 class="site-name">PixelGoose.com</h2>
                <p class="site-description">Premium styles for phpBB3</p>
            </div>
        </div>
    </div>
</div>