@{
    Layout = "_UnauthorizedLayout";
}

<div class="forgot-password-box-container full-height">
    <div class="forgot-password-box">
        <div class="col-sm-4 col-sm-push-4">
            <div class="box box-default">
                <div class="box-body">

                    <div class="form-group">
                        <img class="img img-responsive" src="/images/login-logo.png" />

                        <div class="text-center">
                            <h1 class="text-center">
                                <span class="fa fa-envelope"></span> iConfess
                            </h1>
                            <a href="javascript:void(0);">Say everything you want.</a>
                        </div>

                    </div>

                    @*Email*@
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>Email</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-envelope"></span>
                                    </span>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Captcha*@
                    <div class="form-group">
                        <div class="col-sm-12">
                            Captcha here
                        </div>
                    </div>

                    <div class="col-sm-9 col-sm-push-3">
                        @*Login*@
                        <div class="form-group">
                            <a href="@Url.Action("Login")">
                                <span class="fa fa-sign-in"></span> Sign in
                            </a>
                        </div>

                        @*Register*@
                        <div class="form-group">
                            <a href="@Url.Action("Register")">
                                <span class="fa fa-id-card-o"></span> Register
                            </a>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="@Url.Action("Index")">
                            <span class="fa fa-envelop-o"></span> Send reset password email
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
