<body id="phpbb" class="section-viewtopic ltr" style="">
    <div id="wrap">
        <a id="top" accesskey="t"></a>
        <div id="page-header">
            <div id="topbar">
                <div id="topbar-inner" class="inner-block">
                    <ul class="user-links">
                        <li id="login-link">
                            <i class="fa fa-sign-in fa-lg"></i><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#login-box" class="login-window" title="Login" accesskey="x">Login</a><a href="https://phpbb3.pixelgoose.com/ucp.php?style=14&amp;mode=login" class="login-link" title="Login" accesskey="x">Login</a>
                            <div id="login-box" class="login-popup">
                                <div class="arrow-up"></div>
                                <form method="post" action="https://phpbb3.pixelgoose.com/ucp.php?style=14&amp;mode=login" class="quick-login">
                                    <fieldset>
                                        <div class="navbar_username_outer">
                                            <label for="username">Username:</label>&nbsp;<br><input type="text" name="username" id="navbar_username" size="10" class="inputbox" title="Username">
                                        </div>
                                        <div class="navbar_password_outer">
                                            <label for="password">Password:</label>&nbsp;<br><input type="password" name="password" id="navbar_password" size="10" class="inputbox" title="Password">
                                        </div>
                                        <div class="login-buttons">
                                            <input type="submit" name="login" value="Login" class="button2">
                                            <input type="hidden" name="redirect" value="./viewtopic.php?style=14&amp;f=2&amp;t=3&amp;style=14">
                                            <input type="checkbox" name="autologin" id="autologin">&nbsp;<label id="autologin_label" for="autologin">Log me on automatically each visit</label>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="forgot-pass"><a href="https://phpbb3.pixelgoose.com/ucp.php?mode=sendpassword">I forgot my password</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="search-box">
                        <form action="https://phpbb3.pixelgoose.com/search.php?style=14" method="get" id="search">
                            <fieldset>
                                <div class="search-box-inner">
                                    <button type="submit" class="button2"><i class="fa fa-search"></i></button>
                                    <input name="keywords" id="keywords" type="text" maxlength="128" title="Search for keywords" class="inputbox search" value="Search…" onclick="if(this.value==&#39;Search…&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;Search…&#39;;">
                                </div>
                                <a href="https://phpbb3.pixelgoose.com/search.php?style=14" class="search-adv-link" title="View the advanced search options">Advanced search</a> <input type="hidden" name="style" value="14">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div id="headerbar">
                <div id="headerbar-inner" class="inner-block">
                    <div id="site-logo">
                        <a href="https://phpbb3.pixelgoose.com/index.php?style=14" title="Board index" id="logo"><img src="https://phpbb3.pixelgoose.com/styles/marina_teal/imageset/site_logo.svg" width="164" height="42" alt="" title=""></a>
                        <p class="skiplink"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#start_here">Skip to content</a></p>
                    </div>
                    <div id="main-nav">
                        <ul>
                            <li><a href="https://phpbb3.pixelgoose.com/index.php?style=14">Home</a></li>
                            <li><a href="https://phpbb3.pixelgoose.com/faq.php?style=14" title="Frequently Asked Questions">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar top-navbar">
                <div class="inner inner-block">
                    <ul class="linklist navlinks">
                        <li id="breadcrumbs"><i class="fa fa-home grey"></i><a href="https://phpbb3.pixelgoose.com/index.php?style=14" accesskey="h">Board index</a> <i class="fa fa-caret-right grey"></i><a href="https://phpbb3.pixelgoose.com/viewforum.php?style=14&amp;f=1">Your first category</a><i class="fa fa-caret-right grey"></i><a href="https://phpbb3.pixelgoose.com/viewforum.php?style=14&amp;f=2">Your first forum</a></li>
                        <li class="rightside"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3&amp;view=print" title="Print view" accesskey="p"><i class="fa fa-print fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a id="start_here"></a>
        <div id="page-body" class="inner-block">
            <h1>phpBB3 thread</h1>
            <div style="display: none !important;">Description of your first forum.<br></div>
            <div id="page-body-inner">
                <div class="topic-actions">
                    <div class="buttons">
                        <div class="reply-icon"><a href="https://phpbb3.pixelgoose.com/posting.php?style=14&amp;mode=reply&amp;f=2&amp;t=3" title="Post a reply"><span></span><i class="fa fa-plus-circle fa-lg"></i>Post a reply</a></div>
                    </div>
                    <div class="search-box">
                        <form method="get" id="topic-search" action="https://phpbb3.pixelgoose.com/search.php?style=14">
                            <fieldset>
                                <input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="Search this topic…" onclick="if(this.value==&#39;Search this topic…&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;Search this topic…&#39;;">
                                <input class="button2" type="submit" value="Search">
                                <input type="hidden" name="t" value="3">
                                <input type="hidden" name="sf" value="msgonly">
                                <input type="hidden" name="style" value="14">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="p3" class="post bg2">
                    <div class="inner">
                        <div class="postbody">
                            <h3 class="first"><img src="https://phpbb3.pixelgoose.com/images/icons/misc/fire.gif" width="16" height="16" alt=""> <a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p3">phpBB3 thread</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=3#p3"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a></strong> » Fri Apr 12, 2013 9:47 pm </p>
                            <div class="content">phpBB is a free flat-forum bulletin board software solution that can be used to stay in touch with a group of people or can power your entire website. With an extensive database of user-created modifications and styles database containing hundreds of style and image packages to customise your board, you can create a very unique forum in minutes.<br><br>No other bulletin board software offers a greater complement of features, while maintaining efficiency and ease of use. Best of all, phpBB is completely free. We welcome you to test it for yourself today. If you have any questions please visit our Community Forum where our staff and members of the community will be happy to assist you with anything from configuring the software to modifying the code for individual needs. Learn more about phpBB.</div>
                            <div id="sig3" class="signature">Some signature text</div>
                        </div>
                        <dl class="postprofile" id="profile3">
                            <dt>
                                <a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2"><img src="https://phpbb3.pixelgoose.com/download/file.php?avatar=2_1365803036.png" width="100" height="100" alt="User avatar"></a><br>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>Site Admin</dd>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 16</dd>
                            <dd><strong>Joined:</strong> Fri Apr 12, 2013 9:26 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div id="p14" class="post bg1">
                    <div class="inner">
                        <div class="postbody">
                            <h3><img src="https://phpbb3.pixelgoose.com/images/icons/smile/question.gif" width="16" height="16" alt=""> <a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p14">Automatic recognition of Lorem Ipsum during the pre-press wo</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=14#p14"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a></strong> » Mon Apr 15, 2013 7:49 pm </p>
                            <div class="content">The spread of computers and layout programmes thus made dummy text better known. While in earlier times several lines of the Lorem Ipsum text were repeated in the creation of dummy texts, today the full text of Cicero's 'De finibus' serves as the basis for many dummy text or Lorem Ipsum generators. Based on 'De finibus', these generators automatically create longer sections of the Lorem Ipsum text or various other filler texts.<br><br>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy text using the starting sequence "Lorem ipsum". Fortunately, the phrase 'Lorem Ipsum' is now recognized by electronic pre-press systems and, when found, an alarm can be raised. This avoids a publication going to print with overlooked dummy text.<br><br>Certain internet providers exploit the fact that fill text cannot be recognized by automatic search engines - meaningful information cannot be distinguished from meaningless: Target-generated dummy text mixed with a certain combination of search terms can lead to an increased frequency of visits by search machine users. As a consequence, advertising revenues, which rely on website 'hits', are increased.</div>
                            <div id="sig14" class="signature">Some signature text</div>
                        </div>
                        <dl class="postprofile" id="profile14">
                            <dt>
                                <a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2"><img src="https://phpbb3.pixelgoose.com/download/file.php?avatar=2_1365803036.png" width="100" height="100" alt="User avatar"></a><br>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>Site Admin</dd>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 16</dd>
                            <dd><strong>Joined:</strong> Fri Apr 12, 2013 9:26 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div id="p16" class="post bg2">
                    <div class="inner">
                        <div class="postbody">
                            <h3><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p16">Test Post</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=16#p16"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=55">maxgarwood</a></strong> » Wed Mar 05, 2014 12:45 am </p>
                            <div class="content">This is a test post.</div>
                        </div>
                        <dl class="postprofile" id="profile16">
                            <dt>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=55">maxgarwood</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 1</dd>
                            <dd><strong>Joined:</strong> Fri Feb 28, 2014 12:50 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div id="p17" class="post bg1">
                    <div class="inner">
                        <div class="postbody">
                            <h3><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p17">Re: phpBB3 thread</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=17#p17"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a></strong> » Wed Mar 05, 2014 10:53 am </p>
                            <div class="content"><div class="video-container"><object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UA7uUPvFLvc" width="425" height="350"> <param name="movie" value="http://www.youtube.com/v/UA7uUPvFLvc"> <param name="wmode" value="transparent"> </object></div></div>
                            <div id="sig17" class="signature">Some signature text</div>
                        </div>
                        <dl class="postprofile" id="profile17">
                            <dt>
                                <a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2"><img src="https://phpbb3.pixelgoose.com/download/file.php?avatar=2_1365803036.png" width="100" height="100" alt="User avatar"></a><br>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">PixelGoose</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>Site Admin</dd>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 16</dd>
                            <dd><strong>Joined:</strong> Fri Apr 12, 2013 9:26 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div id="p18" class="post bg2">
                    <div class="inner">
                        <div class="postbody">
                            <h3><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p18">Re: phpBB3 thread</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=18#p18"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=57">lutvia</a></strong> » Tue Apr 08, 2014 9:09 pm </p>
                            <div class="content"><blockquote><div><cite>PixelGoose wrote:</cite>phpBB is a free flat-forum</div></blockquote><br><br>Testing</div>
                        </div>
                        <dl class="postprofile" id="profile18">
                            <dt>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=57">lutvia</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 2</dd>
                            <dd><strong>Joined:</strong> Tue Apr 08, 2014 8:46 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div id="p19" class="post bg1">
                    <div class="inner">
                        <div class="postbody">
                            <h3><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#p19">Re: phpBB3 thread</a></h3>
                            <p class="author"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;p=19#p19"><i class="fa fa-file  grey"></i></a>by <strong><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=57">lutvia</a></strong> » Wed Apr 09, 2014 2:28 pm </p>
                            <div class="content">This is a test with attach</div>
                        </div>
                        <dl class="postprofile" id="profile19">
                            <dt>
                                <div class="username"><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=viewprofile&amp;u=57">lutvia</a><div class="status-dot" title=" Offline"></div></div>
                            </dt>
                            <dd>&nbsp;</dd>
                            <dd><strong>Posts:</strong> 2</dd>
                            <dd><strong>Joined:</strong> Tue Apr 08, 2014 8:46 pm</dd>
                        </dl>
                        <div class="back2top"><a href="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3#wrap" class="top" title="Top"><i class="fa fa-chevron-circle-up grey"></i>Top</a></div>
                    </div>
                </div>
                <hr class="divider" />
                <form id="viewtopic" method="post" action="https://phpbb3.pixelgoose.com/viewtopic.php?style=14&amp;f=2&amp;t=3">
                    <fieldset class="display-options" style="margin-top: 0; ">
                        <label>Display posts from previous: <select name="st" id="st"><option value="0" selected="selected">All posts</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
                        <label>Sort by <select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label> <label><select name="sd" id="sd"><option value="a" selected="selected">Ascending</option><option value="d">Descending</option></select> <input type="submit" name="sort" value="Go" class="button2"></label>
                    </fieldset>
                </form>
                <hr>

                <div class="row thread-footer">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-reply-topic">
                                <span class="fa fa-plus-circle"></span> Post reply
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&lt;&lt;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">&lt;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&gt;&gt;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <form method="post" id="jumpbox" action="https://phpbb3.pixelgoose.com/viewforum.php?style=14" onsubmit="if(this.f.value == -1){return false;}">
                    <fieldset class="jumpbox">
                        <label for="f" accesskey="j">Jump to:</label>
                        <select name="f" id="f" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms[&#39;jumpbox&#39;].submit() }">
                            <option value="-1">Select a forum</option>
                            <option value="-1">------------------</option>
                            <option value="1">Your first category</option>
                            <option value="2" selected="selected">&nbsp; &nbsp;Your first forum</option>
                            <option value="4">&nbsp; &nbsp;Your second forum</option>
                            <option value="5">&nbsp; &nbsp;Your third forum</option>
                            <option value="3">Your second category</option>
                            <option value="6">&nbsp; &nbsp;Your first forum</option>
                            <option value="7">&nbsp; &nbsp;Your second forum</option>
                            <option value="10">&nbsp; &nbsp;Buy "Quarto" theme!</option>
                            <option value="8">&nbsp; &nbsp;Buy "Metro" theme!</option>
                            <option value="9">&nbsp; &nbsp;Buy "Marina" theme!</option>
                        </select>
                        <input type="submit" value="Go" class="button2">
                    </fieldset>
                </form>
            </div>
        </div>
        @Html.Partial("_Footer")
        <div id="footer-links">
            <div id="footer-links-inner" class="inner-block">
                <ul class="leftside-links">
                    <li><i class="fa fa-users fa-lg"></i><a href="https://phpbb3.pixelgoose.com/memberlist.php?style=14&amp;mode=leaders">The team</a></li>
                    <li><i class="fa fa-times-circle fa-lg"></i><a href="https://phpbb3.pixelgoose.com/ucp.php?style=14&amp;mode=delete_cookies">Delete all board cookies</a></li>
                </ul>
                <ul class="rightside-links"></ul>
            </div>
        </div>
    </div>
</body>