@{
    Layout = "_Layout";
}

<div class="col-lg-12">

    @*Topic title*@
    <div>
        <div class="form-group">
            <b class="topic-name">
                <a href="javascript:void(0);">Topic title</a>
            </b>
        </div>
    </div>

    @*Top pagination*@
    <div class="row">
        <div class="col-sm-6 col-xs-4">
            <a class="btn btn-primary btn-reply" href="@Url.Action("AddEditTopicReply")">
                <span class="fa fa-reply"></span>
                <span>&nbsp;</span>
                <b>Post reply</b>
            </a>
        </div>
        <div class="col-sm-6 col-xs-8">
            <nav aria-label="Page navigation" class="text-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @*Posts*@
    <div>
        <div class="form-group">
            <div class="box box-widget post">
                <div class="box-body">
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <div class="post-title">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="icon-container">
                                            <span class="fa fa-file"></span>
                                        </th>
                                        <td>
                                            <b><a href="javascript:void(0)">I took this photo this morning. What do you guys think?</a></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="icon-container">
                                            <span class="fa fa-clock-o"></span>
                                        </th>
                                        <td>
                                            <span class="time">2018-01-01</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="post-content">
                            phpBB is a free flat-forum bulletin board software solution that can be used to stay in touch with a group of people or can power your entire website. With an extensive database of user-created modifications and styles database containing hundreds of style and image packages to customise your board, you can create a very unique forum in minutes.<br><br>No other bulletin board software offers a greater complement of features, while maintaining efficiency and ease of use. Best of all, phpBB is completely free. We welcome you to test it for yourself today. If you have any questions please visit our Community Forum where our staff and members of the community will be happy to assist you with anything from configuring the software to modifying the code for individual needs. Learn more about phpBB.
                        </div>
                        <div class="post-signature">
                            This is signature
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="form-group text-center">
                            <img class="img img-responsive" src="http://www.thefloridacenter.org/wp-content/uploads/2016/11/105-User-512-2.png" />
                        </div>

                        <div>
                            <a href="@Url.Action("Profile", "Home")">
                                <b>Username</b>
                            </a>
                        </div>

                        @*User role in the system*@
                        <div class="user-role">
                            Site admin
                        </div>

                        @*User post count*@
                        <div class="user-post-count">
                            <b>Posts :</b>
                            <span>&nbsp;</span>
                            <span class="badge">10</span>
                        </div>

                        <div class="user-joined-date">
                            <b>Joined :</b>
                            <span>&nbsp;</span>
                            <span>2018-01-01</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Replies*@
    <div>
        <div class="form-group">
            <div class="box box-widget post">
                <div class="box-body">
                    <div class="col-md-10 col-sm-9 col-xs-8">
                        <div class="post-title">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="icon-container">
                                            <span class="fa fa-reply"></span>
                                        </th>
                                        <td>
                                            <b><a href="javascript:void(0)">Re: I took this photo this morning. What do you guys think?</a></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="icon-container">
                                            <span class="fa fa-clock-o"></span>
                                        </th>
                                        <td>
                                            <span class="time">2018-01-01</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="post-content">
                            <blockquote>
                                <div>
                                    <span>&raquo;</span> <i>Originally posted by</i> <a href="@Url.Action("Profile", "Home")">Username</a>
                                </div>
                                phpBB is a free flat-forum bulletin board software solution that can be used to stay in touch with a group of people or can power your entire website. With an extensive database of user-created modifications and styles database containing hundreds of style and image packages to customise your board, you can create a very unique forum in minutes.<br><br>No other bulletin board software offers a greater complement of features, while maintaining efficiency and ease of use. Best of all, phpBB is completely free. We welcome you to test it for yourself today. If you have any questions please visit our Community Forum where our staff and members of the community will be happy to assist you with anything from configuring the software to modifying the code for individual needs. Learn more about phpBB.
                            </blockquote>
                            Really ????
                        </div>
                        <div class="post-signature">
                            This is signature
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="form-group text-center">
                            <img class="img img-responsive" src="http://www.thefloridacenter.org/wp-content/uploads/2016/11/105-User-512-2.png" />
                        </div>

                        <div>
                            <a href="@Url.Action("Profile", "Home")">
                                <b>Username</b>
                            </a>
                        </div>

                        @*User role in the system*@
                        <div class="user-role">
                            Site admin
                        </div>

                        @*User post count*@
                        <div class="user-post-count">
                            <b>Posts:</b>
                            <span>&nbsp;</span>
                            <span class="badge">10</span>
                        </div>

                        <div class="user-joined-date">
                            <b>Joined:</b>
                            <span>&nbsp;</span>
                            <span>2018-01-01</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Bottom pagination*@
    <div class="row">
        <div class="col-sm-6 col-xs-4">
            <button class="btn btn-primary btn-reply">
                <span class="fa fa-reply"></span>
                <span>&nbsp;</span>
                <b>Post reply</b>
            </button>
        </div>
        <div class="col-sm-6 col-xs-8">
            <nav aria-label="Page navigation" class="text-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>