.panel-category-group .panel-heading {
    background-color: #26BCB0 !important;
    color: #ffffff;
}

    .panel-category-group .panel-heading .category-name {
        font-size: 20px;
        font-weight: bold;
    }

.panel-category-group .topic {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: #f5f5f5 solid 1px;
}

    .panel-category-group .topic .topic-name {
        font-size: 18px;
    }

    .panel-category-group .topic .topic-description {
        font-size: 12px;
    }

    .panel-category-group .topic .topic-group-main-info {
        display: flex;
    }

        .panel-category-group .topic .topic-group-main-info .img-topic-group {
            max-width: 64px;
            max-height: 64px;
        }

        .panel-category-group .topic .topic-group-main-info .master-info {
            padding-left: 15px;
        }


/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .panel-category-group .topic .topic-posts,
    .panel-category-group .topic .topic-user-description{
        padding-left: 95px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
