b.topic-name {
    font-size: 2em;
}

.box.post {
}

    .box.post .post-title .icon-container {
        width: 32px;
    }

    .box.post .post-title .time {
        font-size: 10px;
    }

    .box.post .post-content {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .box.post .post-signature {
        border-top: 2px solid #f4f4f4;
        padding-top: 10px;
    }

    .box.post .user-role {
        font-size: 12px;
    }

    .box.post .user-post-count {
        font-size: 12px;
    }

    .box.post .user-joined-date {
        font-size: 12px;
    }

    .box.post .post-content blockquote {
        font-size: 14px;
    }

.btn.btn-reply {
    margin: 20px 0;
}


/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}