.topics-title {
    font-weight: bold;
    font-size: 2em;
}

.topics .topic-image-container {
    width: 64px;
    max-width: 64px;
    vertical-align: middle;
    text-align: center;
}

table.topics {
}

    table.topics tbody {
        background-color: #ffffff;
    }

        table.topics tbody td .topic-info-container {
        }


        table.topics tbody td .topic-info-container {
            vertical-align: top;
        }


.topic-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.topic-description {
    font-style: italic;
    font-size: 12px;
}

table.topics thead tr {
    height: 50px;
}

    table.topics thead tr th {
        vertical-align: middle;
    }

table.topics tr.no-bottom-padding th {
    border-bottom: 0;
}

table.topics thead .replies {
    width: 100px;
    font-family: Ubuntu, sans-serif;
}

table.topics thead .views {
    width: 100px;
    font-family: Ubuntu, sans-serif;
}

table.topics tbody .replies {
    width: 100px;
}

table.topics tbody .views {
    width: 100px;
}

table.topics tbody .last-post div {
    max-width: 150px;
}

.btn.btn-add-topic {
    margin: 20px 0;
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
